body {
	background-color: var(--grey);
	font-family: "Helvetica",Helvetica,Arial,Roboto,sans-serif;
	/* font-family: "Helvetica Neue",Helvetica,Arial,Roboto,sans-serif; */
}


h1, h2, h3, h4, h5, h6, p{
	color: var(--dark);
	font-family: "Helvetica",Helvetica,Arial,Roboto,sans-serif;
}

p{
	font-size: 16px;
}


.container {
	display: flex;
	margin: 50px 0;
}

.box-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	height: auto;
}

/*------- CONTAINER 1 -------*/
.box-container1 {
	width: 55%;
	margin: 0 40px;
	background-color: var(--white);
	padding: 15px;
}
.box-container1 .box {
	display: flex;
	width: calc(100% / 3);
	padding: 30px 15px;
	height: auto;
}
.box-container1 .titre {
	width: 100%;
	padding: 5px;
	color: var(--dark);
	font-family: "The Antiqua B standard",Georgia,Droid-serif,serif;
}
.box-container1 .box h1 {
	padding: 0 15px;
	font-size: 50px;
	color: var(--dark);
	font-family: "The Antiqua B standard",Georgia,Droid-serif,serif;
}

/*------- CONTAINER 2 -------*/
.box-container2 {
	display: flex;
	width: 45%;
	background-color: var(--white);
	margin-right: 40px;
}


#box-Entrainement {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 40px;
	background-color: var(--grey);
}

#Entrainement {
	width: 350px;
	height: 120px;
	border-radius: 30px;
	border: solid 3px var(--main);
	font-size: 42px;
	color: var(--main);
	background-color: var(--white);
}
#Entrainement:hover{
	background-color: var(--main-alpha);
}

.box-container2 .box {
	display: flex;
	width: 50%;
	padding: 30px 10px;
}

.box-container2 p {
	text-align: justify;
}

.box-container2 .logo_esj {
	width: 25px;
	height: 25px;
	margin: 5px 10px;
}

.box-container2 .news_photo {
	margin: 0 10px;
	min-width: 100px;
	max-height: 80px;
	object-fit: cover;
}

/*------- SECTIONS -------*/
.section-container {
	width: 80%;
	margin: 80px 10%;
	padding: 20px;
	background-color: var(--white);
}

.section{
	border-top: solid 2px var(--dark);
	width: 100%;
	min-height: 100px;
}

.section h1{
	width: 100%;
	padding-top: 15px;
	margin-bottom: 15px;
}

.section-sousContainer{
	display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 20px 40px; 
}

.section-box{
	min-height: 100px;
	height: auto;
}
.section-box img{
	width: 100%;
	height: 200px;
	object-fit: cover;
}