@font-face {
	font-family: 'Helvetica rounded';
	src: url('/font/helvetica-rounded-bold-5871d05ead8de.otf') format('truetype');
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--lh: 1.2em;
  line-height: var(--lh);

	--main: #D80228;
	--main-alpha: #fdf2f4;

	--white: #ffffff;
	--grey: #f5f3f1;
	--grey2: #F2F3F4;
	--grey3: #d5dbdb;
	--dark: #1d2424;

	--green: #53da79;
	--red: #ef7272;

	--footer: #202123;
}

h1,h2,h3,h4,h5,h6 {
	color: var(--dark);
	font-family: 'The Antiqua B standard', Georgia, Droid-serif, serif;
}
p {
	font-size: 13px;
	color: var(--dark);
	font-family: 'Helvetica', Helvetica, Arial, Roboto, sans-serif;
}

/*----------- NAV --------- */
nav {
	width: auto;
	height: 80px;
	background: var(--white);
	position: sticky;
	top: 0;
	transition: all 0.3s ease-out;
	z-index: 1;
	display: flex;
	justify-content: center;
	border-bottom: outset 1px var(--dark);
	user-select: none; /* probleme du curseur*/
}

#logo {
	position: absolute;
	left: 50px;
	font-size: 40px;
}
#logo-link {
	text-decoration: none;
	color: var(--main);
	font-family: 'Helvetica rounded', sans-serif;
}

.list {
	width: 95%;
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.list .list-item {
	margin: 0 20px;
	transition: 0.4s ease-out;
	text-transform: uppercase;
	font-size: 18px;
}

.list .list-item:hover {
	transform: scale(1.05);
	transition: 0.4s ease-out;
}

.list .list-item button {
	border: none;
	background-color: transparent;
	font-size: 16px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
}

.list-item .icon {
	bottom: 2px;
	position: relative;
	color: var(--dark);
}

.list .list-link {
	position: relative;
	display: flex;
	align-items: center;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--dark);
	font-family: Arial, Helvetica, sans-serif;
}

.list .list-link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0%;
	height: 1px;
	background: var(--dark);
	transition: 0.4s ease-out;
}

.list .list-link:hover::after {
	width: 100%;
	left: 0;
}


/*----------- DROPDOWN --------- */
.dropdown-content {
	display: none;
	position: absolute;
	margin-top: 80px;
	width: 100%;
	z-index: 1;
	border-bottom: solid 1px var(--dark);
}
.show {
	display: flex;
}

/*----------- DROPDOWN ACTUS --------- */
#showActus {
	justify-content: center;
	height: auto;
	background-color: var(--grey2);
}
#showActus span {
	position: absolute;
	width: 750px;
	display: flex;
	margin-top: 10px;
}
#showActus ul {
	list-style: none;
	display: block;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	column-count: 3;
	column-gap: 20px;
	margin: 50px 0 20px;
	width: 750px;
}
#showActus li {
	list-style: none;
	width: auto;
	width: 200px;
	height: 40px;
	display: flex;
	align-items: center;
	border-top: solid 1px var(--grey3);
}
#showActus a {
	text-decoration: none;
	padding: 15px 0;
	font-family: 'Helvetica', Helvetica, Arial, Roboto, sans-serif;
	font-size: 16px;
	color: var(--dark);
}
#showActus a:hover {
	color: var(--main);
}

/*----------- DROPDOWN CULTURE / VIDEO--------- */
#showCulture,
#showVideo {
	justify-content: center;
	height: auto;
	background-color: var(--grey2);
}
#showCulture .container,
#showVideo .container{
	display: grid; 
	grid-auto-columns: 1fr; 
	grid-template-columns: repeat(4, minmax(100px, 250px)); 
	grid-template-rows: auto;
	gap: 0px 30px; 

	margin: 0 100px;
	height: auto;
}
#showCulture .container .box,
#showVideo .container .box{
	min-height: 100px;
	height: auto;
	padding: 15px;
}
#showCulture .container .box h2,
#showVideo .container .box h2 {
	margin-bottom: 10px;
}
#showCulture .container .box ul,
#showVideo .container .box ul {
	list-style: none;
}
#showCulture .container .box li,
#showVideo .container .box li {
	list-style: none;
	padding: 10px 0;
	border-top: solid 1px var(--grey3);
}
#showCulture .container p,
#showVideo .container p{
	font-size: 15px;
	text-align: justify;
	--max-lines: 4;
	max-height: calc(var(--lh) * var(--max-lines));
}
#showCulture .image-align-left,
#showVideo .image-align-left{
	float : left;
	width: 25px;
	height: 25px;
	margin: 5px 5px 5px 0;
}
#showCulture .image-align-left-liberation,
#showVideo .image-align-left-liberation{
	float : left;
	width: 50px;
	height: 25px;
	margin: 5px 5px 5px 0;
}

#showCulture .container .box .news_photo,
#showVideo .container .box .news_photo{
	margin-top: 2px;
	width: 100%;
	height: 100px;
	object-fit: cover;
}




/*----------- FOOTER --------- */
footer {
	background-color: var(--white);
	border-top: solid 1px var(--dark);
	font-size: 14px;
}
footer ul{
	display: flex;
	justify-content: center;
}
footer li{
	list-style: none;
	padding: 30px 15px;
	color: var(--dark);
}
a {
	text-decoration: none;
	color: var(--dark);
}
a:hover {
	color: var(--main);
}
#copyright{
  margin-left: 80px;
}